@charset "utf-8";/* familia de caracteres */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    
}


body {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
}

.main-header {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-header img{
    width: 100%;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-header img:hover{
    width: 65%;
}

.main-header p{
    margin-top: 2em;
}

.main-header h2{
    margin-top: 1em;
    color: #ffff00c9;
}

.conteiner {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0.2em;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-bottom: 1em;
    background: #510000;
}

.card h3 {
    margin-bottom: 1em;
    color: #ffff00c9;
}

.card img {
    max-width: 139%;
}

a {
    color: #ffff00c9;
    text-decoration: none;
}

a:hover{
    color: #fff;
}

.btn{
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8em 1.8em;
    margin-top: 1em;
    cursor: default;
    border-radius: 50px;
    border: #510000 5px solid;
}

.btn:hover{
    background: #510000;
    border: solid 5px #000;
}

.card div{
    padding: 2em;
}

.galeria{
    margin: 2em;
    display: flex;
    height: 20em;
    gap: 1em;
}

.galeria div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.galeria div:hover{
    flex: 4;
}
.galeria:hover div:not(:hover){
    filter: brightness(0.3) grayscale(100%) blur(2px) sepia(100%) opacity(1);
}
